@{
	ViewData["Title"] = "Home Page";
}
<div class="row">
	<div class="col-md-3">
		<h2>Date/Time Format</h2>
		<ul>
			<li>View <a asp-controller="DateTimeFormat" asp-action="Index">Date/Time Format</a>.</li>
		</ul>
	</div>
	<div class="col-sm-12 col-md-4">
		<h2>Number Format</h2>
		<ul>
			<li>View <a asp-controller="NumberFormat" asp-action="Index">Number Format</a>.</li>
		</ul>
	</div>
	<div class="col-sm-12 col-md-4">
		<h2>Text</h2>
		<ul>
			<li>View <a asp-controller="Text" asp-action="Index">Text</a>.</li>
		</ul>
	</div>
</div>
